body h1 {
    display: flex;
    justify-content: center;
    color: palevioletred;
    font-size: 235%;
}

h2 {
    display: flex;
    justify-content: center;
    color: lightseagreen;
    font-size: 200%;

}

body {
    background-color: blanchedalmond;
    background-image: url("https://ih1.redbubble.net/image.1309251054.0283/aps,504x498,small,transparent-pad,600x600,f8f8f8.jpg");
    background-position: left;
}


div p {
    font-size: 150%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

div.a {
    color: deeppink;
    text-indent: 50px;
    text-shadow: 2px 1px black;
}

div.b {
    text-indent: 50px;
    color: darkgreen;
    text-shadow: 3px 1px darkorange;

}

div.c {
    text-indent: 50px;
    color: deepskyblue;
    text-shadow: 2px 1px black
}

nav ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 10px 10px;
}
